html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

.container--main {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: 0 auto;
}

.button {
	border-radius: 8px;
	padding: 8px;
	border: none;
	background-color: blueviolet;
	color: #ffffff;
}

button:hover {
	cursor: pointer;
	opacity: 0.8;
}
